@base16-color-base00: #1c2021;
@base16-color-base01: #232828;
@base16-color-base02: #4e5353;
@base16-color-base03: #7a8080;
@base16-color-base04: #999f9f;
@base16-color-base05: #b1b7b8;
@base16-color-base06: #c6cccc;
@base16-color-base07: #d8dedf;
@base16-color-base08: #e88075;
@base16-color-base09: #ef7f44;
@base16-color-base0A: #bf9757;
@base16-color-base0B: #9ba44c;
@base16-color-base0C: #81a4a1;
@base16-color-base0D: #54a8c8;
@base16-color-base0E: #a997b8;
@base16-color-base0F: #d38d63;